<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szkolenie MySQL</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<center>
    <form method="POST" th:object="${user}" th:action="@{/scholarship}">
        <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
        </div>
        <div id="email-group">
            <label class="label-email"><span class="required">Email</span>
                <input type="email" th:field="*{email}" placeholder="Email" tabindex="1" required/>
            </label>
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">Name Error</span>
        <!-- tag::allButValidation[] -->
        <br/>
        <div id="name-group">
            <label class="label-email"><span class="required">Imię</span>
                <input type="text" th:field="*{name}" placeholder="Imię" tabindex="1" required/>
            </label>
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <!-- tag::allButValidation[] -->
        <br/>
        <label class="label-email"><span class="required">Kurs</span>
            <input type="text" th:value="${user.interestedAt}" th:field="*{interestedAt}" readonly>
        </label>
        <br/>
        <input type="submit" value="Zarejestruj się"/>
    </form>
</center>
<br/><br/><br/><br/>
<div class="footer">
    Autorem strony oraz szkoleń jest Dawid Kańtoch. Wszelkie prawa zastrzeżone. &reg 2021
</div>
</body>
</html>